<% cache_unless page_builder_enabled?, spree_base_cache_scope.call(section) do %>
  <% if section.blocks.any? %>
    <div class="page-container" style="<%= section_styles(section) %>">
      <% section.blocks.includes(:rich_text_text, :links).each do |block| %>
        <% case block.type %>
        <% when 'Spree::PageBlocks::Heading' %>
          <h2 class="<%= block.preferred_size == 'small' ? 'text-lg' : (block.preferred_size == 'medium' ? 'text-xl' : 'text-2xl lg:text-5xl') %> font-medium" <%= block_attributes(block) %>>
            <%= block.text %>
          </h2>
        <% when 'Spree::PageBlocks::Text' %>
          <div class="max-w-prose text-xl leading-relaxed font-normal" <%= block_attributes(block) %>>
            <%= block.text %>
          </div>
        <% when 'Spree::PageBlocks::ProductReviewForm' %>
          <%= form_for :newsletter, url: spree.newsletter_subscribers_path do |f| %>
            <div class="flex items-center flex-col md:flex-row w-full <%= block_css_classes(block) %>" <%= block_attributes(block) %>>
              <div class='relative w-full lg:w-[424px] flex'>
                <%= hidden_field_tag :section_id, section.id %>
                <%= f.email_field :email, placeholder: block.preferred_placeholder, required: true, class: 'focus:border-primary focus:ring-primary pr-36 text-sm bg-accent rounded-input border-accent py-2 px-4 w-full relative z-30 !leading-[46px]' %>
                <div class="absolute right-2 top-1/2 transform -translate-y-1/2 z-40">
                  <%= f.submit block.preferred_button_text.html_safe, class: "#{block.preferred_button_style == 'secondary' ? 'btn-secondary' : 'btn-primary'} content-center" %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>
